
body {  
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(wallpaper.jpg);
  font-family: 'Times New Roman', Times, serif;
} 
#window {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  height: 100vh;
} 
#command {  
  width: 57vw;  
  height: 50vh;  
} 
#commandPrompt {  
  display: flex;  
  width: 100%;  
  height: 40px;  
  align-items: center;  
  padding: 0 10px;  
  box-sizing: border-box;   
  background: linear-gradient(#d8d4d4 0%,#464544 100%);
} 
#btn {  
  display: flex;  
  align-items: center;
} 
.sideBtn {  
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 2px;  
  margin-right: 6px;  
  font-size: 14px;  
  height: 20px;  
  width: 20px;  
  border-radius: 10%;  
  background: linear-gradient(#ebe9e7 0%, #3d3d3b 100%);   
  box-shadow: 0px 0px 8px 0px #161616, 0px 1px 1px 0px #161616;
}
.sideBtn:hover {  
  cursor: pointer;
}

#return {  
  background: linear-gradient(#f35858 0%, #de1212 100%);    
  background-clip: padding-box;
} 


#commandPrompttwo {  
  background: rgba(235, 223, 223, 0.89);  
  font-family: 'Times New Roman', Times, serif;  
  height: calc(100% - 80px);  
  padding-top: 10px;  
  margin-top: -1px;
  padding-left: 5px;
} 
#text {  
  display: flex;
}
#textOne {  
  color: #1a17d8;
}
#textTwo { 
  color: #03330f;
}
#textThree {  
  color: #0c0b0b;
}
#textFour {  
  display: block;  
  height: 17px;  
  width: 9px;  
  margin-left: 10px;  
  animation: blink 900ms linear infinite;
} 
@keyframes blink {  
  0% {    
    background: #8a8585;  
  }  
  50% {    
    background: #8a8585;  
  }  
  55% {    
    background: transparent;  
  }  
  99% {    
    background: transparent;  
  }  100% {    
    background: #8a8585;  
  }
} 

.hidden {
    display: none;
}

.img-wrapper {
    height: 225px;
    padding: 10px 0px 10px 10px;
}

.command-container {
    padding-bottom: 10px;
    overflow-y: auto;
}

.error-message {
    color: rgb(219, 26, 26);
}
