*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(wallpaper.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.img-tbar1
{
    margin-bottom: -85px;
    width: 100px;
}


.button
{
    
    position: center;
    width: 1500px;
    margin-left: 100px;
    margin-top: 0px;
    text-align: center;
    
   
    
}

.btn
{
    border: 1px solid white; 
    border-radius: 5px;
    padding: 10px 30px; 
    color: white; 
    text-decoration: none;
    margin-right: 500px;
    font-size: 13px;
    text-transform: uppercase;
}

.b1
{
    font-family: "Roboto", sans-serif;
    background-color: teal;
}

.b1:hover
{
    background-color: 	#A9A9A9;
    transition: all 0.5s ease-in;
}
